@{ 
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content">

    <div class="container container--is-maxwidth">

        <section class="container hero hero--stage hero--bottom hero--left" v-heroanim>

            <responsive-image class="image image--hero hero__image">

                <!-- Accessibility -->
                <img src="~/images/aboutus.jpg" alt="" class="image image--hero hero__image">

            </responsive-image>
            <div class="hero__container container--medium">
                <div class="hero__content" data-tag-wrapper>
                    <h1 class="hero__title halesworth">
                        About
                    </h1>
                </div>
            </div>
        </section>

    </div>

</div>



