@{ ViewData["Title"] = "Terms of Service and Use"; }

<div id="content">
    <div class="container container--is-maxwidth">
        <section class="container hero hero--stage hero--bottom hero--left" v-heroanim>
            <responsive-image class="image image--hero hero__image">
                <img src="~/images/pageBanner/default-countries.jpg" alt="" class="image image--hero hero__image">
            </responsive-image>
            <div class="hero__container container--medium">
                <div class="hero__content" data-tag-wrapper>
                    <h1 class="hero__title halesworth">
                        Terms of Service and Use
                    </h1>
                </div>
            </div>
        </section>
    </div>
    <div class="container--large ">
        <scroll-slider class="scroll-slider--advanced" close-text="Close">
            <div slot="sidecontent">
                <h2 class="scroll-slider__heading">
                    <span class="scroll-slider__sub-title halesworth">
                        Melbourne
                    </span>
                    <span class="scroll-slider__title">
                        Service Terms
                    </span>
                </h2>
                <section>
                    <br />
                    <p>We cover all sections of required&nbsp;</p>
                    <p>For covering and all floors&nbsp;</p>
                    <p>▪️At the end of the job all surfaces will be clean up</p>
                    <p>▪️Some colours may require additional coats of paint; additional coats of paint are a variation and will incur appropriate charges.</p>
                    <p>▪️Patrick Painting Pty Ltd has full liability insurance &nbsp;</p>
                    <p>▪️Our professional painters have national police check , working with children card and certificate in painting and decoration</p>
                    <p>▪️Patrick Painting Pty Ltd will need access to mains power for the duration of the job</p>
                    <p>▪️Exterior job : start date are subject to weather conditions&nbsp;</p>
                    <p>▪️Project completion time are subject to weather conditions&nbsp;</p>
                    <p>▪️Any additional work not stated in the quote will be charged at our normal hourly rate&nbsp;</p>
                    <p>▪️Excludes defects on finished surfaces caused by other trades , these repairs will fixed at an additional cost.</p>
                </section>
            </div>
        </scroll-slider>
    </div>
</div>